/* home content*/
.content {
    display: flex;
}


.content__main {
    padding: 25px;
}

/* about title */
.about-content-title {
    letter-spacing: 0.1em;
}

/* about description */
.about-description {
    padding: 2% 2%;
    font-size: 19px;
    letter-spacing: 0.02em;
    text-align: justify;
}

/* member statistic */
.member-statistic {
    box-shadow: var(--color-grey-dark-3);
    display: flex;
    margin: 0 2% 5%;
    background-color: #ffffff;
    padding: 3%;
    box-shadow: 5px 10px 10px 5px rgba(167, 169, 172, 0.637);
}

/* statistic detail */
.statistic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.statistic_number {
    font: bold italic 30px/1.5 Helvetica, Verdana, sans-serif;
    color: var(--color-primary-dark-1);
    padding-bottom: 2%;
}

.statistic_title {
    padding: 0 15px;
    font-size: 25px;
    color: var(--color-grey-dark-1);
}

/* home important card */
.home__infocard {
    display: flex;
    flex-direction: row;
    margin: 2% 0;

}

/* card content */
.home__infocard .home__card {
    border: 1px solid #820000;
    background-color: #c9eef749;
    border-radius: 5%;
    margin: 2%;
    padding: 1%;
    width: 50%;
}

/* card title */
.home-card-title {
    font-size: 25px;
    color: #DC0000;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 2% 2% 4%;
}

/* card text */
.home-card-text {
    padding: 2% 4%;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
}


/* speaker detail */
.home-speaker {
    margin: 0 0 8%;
}

/* speaker heading */
.speaker-content-title {
    letter-spacing: 0.1em;
    width: 100%;
    padding: 3% 0;
}

.speaker-content {
    display: flex;
    justify-content: space-evenly;
}

/* speaker card content */
.speaker-content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* speaker image content */
.speaker-content-image {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;

}

/* speaker image */
.speaker-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* speaker name */
.speaker-content-name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 5% 0;
    color: var(--color-primary-dark-1);
}

/* button */
.speaker-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* button icon */
.speaker-btn-icon {
    font-size: 17px;
    color: white;
    padding: 5px;
}

/* view all speaker button */
.view-all-btn {
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-dark-2), var(--color-primary));
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 1% 10%;
    letter-spacing: 0.1em;

}

/* on hover change button color */
.view-all-btn:hover {
    background-image: none;
    background-color: var(--color-primary-dark-1);
}

/* sponsor listing */
.sponsor-listing {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* sponsor image content */
.sponsor-image {
    width: 90%;
    padding: 2%;
}

/* sponsor image */
.sponsor-img {
    width: 100%;
}

@media (max-width: 700px) {
    .member-statistic {
        flex-direction: column;
    }

    .speaker-content-heading {
        flex-direction: column;
    }

    .speaker-content {
        flex-direction: column;
    }

    .home__infocard {
        flex-direction: column;
    }

    .home__infocard .home__card {
        width: 100%;
    }

}